{% extends 'base.html.twig' %}

{% set title = "Ads (index)" %}
{% block title title %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {% for ad in ads %}
    <div>
        {{ ad.title }} <br>
        {{ ad.createdBy.screenname }} <br>
    </div>
    <hr>
    {% endfor %}
    
</div>
{% endblock %}
