{% extends 'base.html.twig' %}

{% set title = "Contact" %}
{% block title title %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    Contact form...
    
</div>
{% endblock %}
